@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LojaVirtual.Models.Produto

@{
    ViewData["title"] = "Página Excluir de Produtos";
    var produto = Model;
}

<form action="/produtos/excluir" method="post">
    <input type="hidden" name="Id" value="@produto.ID" />
    <label>Identificador: </label><p>@produto.ID</p>
    <label>Nome: </label><p>@produto.NM_NOME</p>
    <label>Preço: </label><p>@produto.NR_PRECO</p>
    <label>Quantidade: </label><p>@produto.NR_QUANTIDADE</p>

    <input type="submit" value="Salvar Alterações" />
    <a href="/produtos/listar">Voltar para Lista</a>
</form>
