@model List<LojaVirtual.Models.Pessoa>

@{
    ViewData["Title"] = "Calendario";
    var listaDePessoas = Model;
    DateTime DataHoje = Convert.ToDateTime(DateTime.Now.ToString("dd/MM/yyyy"));
    var listaDeAniversariantes = Model.Where(x => x.DT_NASCIMENTO.Day == DataHoje.Day && x.DT_NASCIMENTO.Month == DataHoje.Month);

}

<h1>Calendario</h1>
<div class="row">
    <div class="col-6">
        <h2>Aniversariantes do Dia</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Data nascimento</th>
                    <th scope="col">*</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in listaDeAniversariantes)
                    {
                        <tr>
                            <th scope="row">@listaDePessoas.IndexOf(item)</th>
                            <td>@item.NM_NOME</td>
                            <td>@item.NM_SOBRENOME</td>
                            <td>@item.DT_NASCIMENTO</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h2>Todos os Amigos</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Data nascimento</th>
                    <th scope="col">*</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in listaDePessoas)
                    {
                        <tr>
                            <th scope="row">@listaDePessoas.IndexOf(item)</th>
                            <td>@item.NM_NOME</td>
                            <td>@item.NM_SOBRENOME</td>
                            <td>@item.DT_NASCIMENTO</td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>

</div>
