@model Domain.Entidade.View.ViewModel
@using Microsoft.AspNetCore.Identity;
@using Domain.Entidade;
@{
    ViewData["Title"] = "Detalhes Prontuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserSign = SessionExtensionsHelp.GetObject<IdentityUser>(this.Context.Session, "UserSign");
    var pessoaId = UserSign.Id;
    var UsuarioPerfil = SessionExtensionsHelp.GetObject<ETipoUsuario>(this.Context.Session, "UsuarioPerfil");
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-between mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO PRONTUÁRIO</h6>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4 d-none">
                                    @Html.DisplayNameFor(model => model.Prontuario.Id)
                                </dt>
                                <dd class="col-sm-8 d-none">
                                    @Html.DisplayFor(model => model.Prontuario.Id)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Prontuario.Resumo)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Prontuario.Resumo)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Prontuario.Descricao)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Prontuario.Descricao)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Prontuario.Data)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Prontuario.Data)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Prontuario.Pet)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Prontuario.Medico)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ListaMedicos.First(x => x.Id == Model.Prontuario.Medico.UsuarioId).Nome)
                                </dd>
                                <br />
                                @*DOCUMENTOS*@
                                <div class="card shadow-sm border-0 overflow-hidden">
                                    <div class="card-body">
                                        <h5 class="mb-0">Documentos</h5>
                                        <hr>
                                        <div class="card shadow-none border">
                                            <div class="card-header">
                                                <h6 class="mb-0">Informação</h6>
                                            </div>
                                            <div class="card-body table-responsive">
                                                <table class="table table-striped table-hover">
                                                    <thead class="table-warning">
                                                        <tr>
                                                            <th></th>
                                                            <th> #</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                                            <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                                            <th>   </th>
                                                            <th>   </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @if (Model != null)
                                                            foreach (var item in Model.Documentos)
                                                            {
                                                                <tr>
                                                                    <td></td>
                                                                    <td>
                                                                        <div class="custom-control custom-checkbox">
                                                                            @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                                        </div>
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                                    <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                                    <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                                    <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                                    <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                                    <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                                    <td> @Html.DisplayFor(modelItem => Model.Pet.Nome)</td>
                                                                    <td>
                                                                        @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                                        @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                                        @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            }
                                                    </tbody>
                                                </table>
                                                <div class="col-10 col-lg-9 col-xl-9 col-xxl-9 d-flex justify-content-between">
                                                    <a asp-controller="Documento" asp-action="Criar" asp-route-id="@Model.Usuario.Id">
                                                        <div>
                                                            <p class="border radius-10 p-2 primary-dc"><i class="bi bi-plus primary-dc"></i>Novo Documento</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </dl>
                            <div class="form-group d-flex justify-content-between">
                                <a asp-action="Listar" asp-route-id="@pessoaId" class="btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></a>

                                @if (UsuarioPerfil == ETipoUsuario.Medico)
                                {
                                    <a asp-action="Detalhes" asp-controller="Pet" asp-route-id="@Model.Pet.Id" class="btn btn-warning">Abrir Detalhes do Pet</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}