@model Domain.Entidade.View.ViewModel
@using Domain.Entidade
@using EnumsNET;
@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Detalhes Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserSign = SessionExtensionsHelp.GetObject<IdentityUser>(this.Context.Session, "UserSign");
    var pessoaId = UserSign.Id;
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-6">
            @*PERFIL*@
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">Perfil</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Nome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Sobrenome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Sobrenome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Telefone)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Telefone)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Cpf)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Cpf)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Cnpj)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Cnpj)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Crm)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Crm)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.DataNascimento)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.DataNascimento)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.Email)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Email)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.url_documento)
                                </dt>
                                <dd class="col-sm-8">
                                    @if (Model.Usuario.Anexo != null && Model.Usuario.TipoAnexo != null)
                                    {
                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Usuario.Anexo)" class="img-fluid w-100 image-rotate" />
                                    }
                                    else
                                    {
                                        <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                    }
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.CreatedAt)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.CreatedAt)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.UpdatedAt)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.UpdatedAt)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Usuario.TipoUsuario)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.TipoUsuario)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            @*PETS*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Pets</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Pet.Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Pet.DataNascimento)</th>
                                        <th>@Html.DisplayNameFor(model => model.Pet.Especie)</th>
                                        <th>@Html.DisplayNameFor(model => model.Pet.CreatedAt)</th>
                                        <th>@Html.DisplayNameFor(model => model.Pet.UpdatedAt)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                        foreach (var item in Model.ListaPets)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.ListaPets.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.ListaPets.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataNascimento)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Especie)</td>
                                                <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                                <td> @Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Pet", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Pet", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" })|
                                                    @Html.ActionLink("", "Detalhes", "Pet", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" })|
                                                    @Html.ActionLink("", "Criar", "Pet", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            @*AGENDAMENTO*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Agendamentos</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Data)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Status)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Comentario)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Agendamentos)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Agendamentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Agendamentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Comentario)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Medicos", "Perfil", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*PRONTUARIOS*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Prontuários</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Resumo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Data)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Prontuarios)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Prontuarios.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Prontuarios.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Resumo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Data)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>

                                                <td>
                                                    @Html.ActionLink("", "Editar", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" })
                                                    @Html.ActionLink("", "Detalhes", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" })
                                                    @Html.ActionLink("", "Criar", "Prontuario", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*EXAMES*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Exames</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Exame)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                            <div class="col-10 col-lg-9 col-xl-9 col-xxl-9 d-flex justify-content-between">
                                <a asp-controller="Documento" asp-action="Criar" asp-route-id="@Model.Usuario.Id">
                                    <div>
                                        <p class="border radius-10 p-2 primary-dc"><i class="bi bi-plus primary-dc"></i>Novo Documento</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*DOCUMENTOS*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Documentos</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Documento)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Documento", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                            <div class="col-10 col-lg-9 col-xl-9 col-xxl-9 d-flex justify-content-between">
                                <a asp-controller="Documento" asp-action="Criar" asp-route-id="@Model.Usuario.Id">
                                    <div>
                                        <p class="border radius-10 p-2 primary-dc"><i class="bi bi-plus primary-dc"></i>Novo Documento</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*ALIMENTAÇÃO*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Alimentação</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Alimentacao)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Documento", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                            <div class="col-10 col-lg-9 col-xl-9 col-xxl-9 d-flex justify-content-between">
                                <a asp-controller="Documento" asp-action="Criar" asp-route-id="@Model.Usuario.Id">
                                    <div>
                                        <p class="border radius-10 p-2 primary-dc"><i class="bi bi-plus primary-dc"></i>Novo Documento</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->
</main>
<!--fim main-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}