@model Domain.Entidade.Usuario
@using Domain.Entidade;

@{
    ViewData["Title"] = "Editar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mensagem = ViewBag.messenger;
    var UsuarioPerfil = SessionExtensionsHelp.GetObject<ETipoUsuario>(this.Context.Session, "UsuarioPerfil");
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO USUÁRIO</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Nome" class="form-label">Nome</label>
                                        <input type="text" asp-for="Nome" name="Nome" class="form-control" value="@Model.Nome">
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Sobrenome" class="form-label">Sobrenome</label>
                                        <input type="text" asp-for="Sobrenome" name="Sobrenome" class="form-control" value="@Model.Sobrenome">
                                        <span asp-validation-for="Sobrenome" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Telefone" class="form-label">Telefone</label>
                                        <input type="text" asp-for="Telefone" name="Telefone" class="form-control" value="@Model.Telefone">
                                        <span asp-validation-for="Telefone" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Cpf" class="form-label">Cpf</label>
                                        <input type="text" asp-for="Cpf" name="Cpf" class="form-control" value="@Model.Cpf">
                                        <span asp-validation-for="Cpf" class="text-danger"></span>
                                    </div>
                                    <br />
                                    @if (UsuarioPerfil == ETipoUsuario.Medico)
                                    {
                                        <div class="form-group">
                                            <label asp-for="Cnpj" class="form-label">Cnpj</label>
                                            <input type="text" asp-for="Cnpj" name="Cnpj" class="form-control" value="@Model.Cnpj">
                                            <span asp-validation-for="Cnpj" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <label asp-for="Crm" class="form-label">Crm</label>
                                            <input type="text" asp-for="Crm" name="Crm" class="form-control" value="@Model.Crm">
                                            <span asp-validation-for="Crm" class="text-danger"></span>
                                        </div>
                                        <br />
                                    }
                                    <div class="form-group">
                                        <label asp-for="DataNascimento" class="form-label">Data Nascimento</label>
                                        @Html.EditorFor(model => model.DataNascimento, "DataNascimento", "DataNascimento")
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    <br />
                                    @if (UsuarioPerfil != ETipoUsuario.Medico)
                                    {
                                        <div class="form-group">
                                            <p class="form-label">Selecione o tipo de Perfil:</p>
                                            <label asp-for="TipoUsuario" class="form-label p-2">Tutor:</label>
                                            @Html.RadioButton("TipoUsuario", ETipoUsuario.Tutor, @Model.TipoUsuario == ETipoUsuario.Tutor ? true : false)
                                            <label asp-for="TipoUsuario" class="form-label p-2">Médico:</label>
                                            @Html.RadioButton("TipoUsuario", ETipoUsuario.Medico, @Model.TipoUsuario == ETipoUsuario.Medico ? true : false)
                                            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                                        </div>
                                    }
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="url_documento" class="col-sm-12 col-form-label">Foto do perfil:</label>

                                        <div class="card card-image">
                                            <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                                                <div>
                                                    @if (Model.Anexo != null && Model.TipoAnexo != null)
                                                    {
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Anexo)" class="img-fluid w-100 image-rotate" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                        <br />
                                        <div class="col-sm-12">
                                            <input type="file" asp-for="url_documento" name="url_documento" class="form-control">
                                            <span asp-validation-for="url_documento" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-sm-12">
                                        <a asp-controller="Perfil" asp-action="ExcluirImagem" asp-route-id="@Model.Id" class="btn btn-sm btn-danger px-5">Excluir Foto></a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <input type="submit" value="Salvar" class="btn btn-primary" />
                                </div>
                            </form>
                            @{if (mensagem != null)
                                {
                                    <p class="text-warning">@mensagem</p>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card shadow-sm border-0 overflow-hidden">
                <ul class="list-group list-group-flush">
                    <li>
                        <div class="col py-4 text-center">
                            <h5 class="mb-0">Excluir todos seus dados.</h5>
                            <a asp-controller="Perfil" asp-action="Excluir" asp-route-id="@Model.Id"><button type="button" class="btn btn-sm btn-danger px-5">Excluir conta</button></a>
                        </div>
                    </li>
                </ul>
            </div>
            @*<div class="card shadow-sm  border-bronze overflow-hidden">
                    <ul class="list-group list-group-flush">
                        <li>
                            <div class="col py-4 text-center">
                                <a asp-controller="Perfil" asp-action="PainelAdm"><button type="button" class="btn btn-sm btn-warning px-5">Painel Administrativo</button></a>
                            </div>
                        </li>
                    </ul>
                </div>*@

        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->

<div>
    <a asp-controller="Home" asp-action="Home">Voltar para o Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        var DateTime = document.getElementById("DataNascimento");
        DateTime.classList.add("form-control");
    </script>
}
