@model Domain.Entidade.Pet
@using EnumsNET
@using Domain.Entidade
@{
    ViewData["Title"] = "Deletar Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-between mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO PET</h6>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Id)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Id)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => Model.Especie)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Especie)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.url_documento)
                                </dt>
                                <dd class="col-sm-10">
                                    <div class="card card-image">
                                        <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                                            <div>
                                                @if (Model.Anexo != null && Model.TipoAnexo != null)
                                                {
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Anexo)" class="img-fluid w-100 image-rotate" />
                                                }
                                                else
                                                {
                                                    <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </dd>
                            </dl>

                            <form asp-action="Deletar" enctype="multipart/form-data" method="post">
                                <label asp-for="Id" class="control-label d-none"></label>
                                <input asp-for="Id" name="Id" value="@Model.Id" class="form-control d-none" readonly />
                                <span asp-validation-for="Id" class="text-danger d-none"></span> 
                                <div class="form-group d-flex justify-content-between">
                                    <input type="submit" value="Deletar" class="btn btn-danger" /> |
                                    <button asp-action="Listar" asp-route-id="@Model.Tutor.UsuarioId" class=" btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

