@model Domain.Entidade.View.ViewModel
@using Domain.Entidade
@using EnumsNET;
@{
    ViewData["Title"] = "Detalhes Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">

        <div class="col-12 col-lg-6">
            @*PET*@
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">Pet</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <dl>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.Nome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.DataNascimento)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.DataNascimento)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.Especie)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.Especie)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.ImagemUrlPet)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.ImagemUrlPet)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.CreatedAt)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.CreatedAt)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.UpdatedAt)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.UpdatedAt)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Pet.Tutor)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Usuario.Nome)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            @*PRONTUARIOS*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Prontuários</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Resumo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Data)</th>
                                        <th>@Html.DisplayNameFor(model => model.Prontuarios.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Prontuarios)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Prontuarios.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Prontuarios.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Resumo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Data)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>

                                                <td>
                                                    @Html.ActionLink("", "Editar", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Prontuario", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Prontuario", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" })
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            @*AGENDAMENTO*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Agendamentos</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Data)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Status)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Comentario)</th>
                                        <th>@Html.DisplayNameFor(model => model.Agendamentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Agendamentos)
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Agendamentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Agendamentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Data)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Comentario)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Agendamento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Medico", "Perfil", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" }) |
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*EXAMES*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Exames</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Anexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Exame)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Anexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Documento", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" }) |
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*DOCUMENTOS*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Documentos</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Anexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Documento)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Anexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Documento", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" }) |
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @*ALIMENTAÇÃO*@
            <div class="card shadow-sm border-0 overflow-hidden">
                <div class="card-body">
                    <h5 class="mb-0">Alimentação</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">Informação</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead class="table-warning">
                                    <tr>
                                        <th> #</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Nome)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Descricao)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Quantidade)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().TipoAnexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Anexo)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataFim)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().DataInicio)</th>
                                        <th>@Html.DisplayNameFor(model => model.Documentos.First().Pet)</th>
                                        <th>   </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (Model != null)
                                        foreach (var item in Model.Documentos.Where(x => x.TipoDocumento.Equals(ETipoDocumento.Alimentacao)))
                                        {
                                            <tr>
                                                <td>
                                                    <div class="custom-control custom-checkbox">
                                                        @Html.Label("false", Model.Documentos.IndexOf(item).ToString(), new { @class = "custom-control-label", @for = $"customCheck{Model.Documentos.IndexOf(item).ToString()}" })
                                                    </div>
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Descricao)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Quantidade)</td>
                                                <td> @Html.DisplayFor(modelItem => item.TipoAnexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.Anexo)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataFim)</td>
                                                <td> @Html.DisplayFor(modelItem => item.DataInicio)</td>
                                                <td> @Html.DisplayFor(modelItem => Model.ListaPets.Where(x => x.Id.Equals(item.Pet.PetId)).First().Nome)</td>
                                                <td>
                                                    @Html.ActionLink("", "Editar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-pen yellow", data_toggle = "tooltip", title = "Editar" }) |
                                                    @Html.ActionLink("", "Deletar", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-trash yellow", data_toggle = "tooltip", title = "Deletar" }) |
                                                    @Html.ActionLink("", "Detalhes", "Documento", new { id = item.Id }, new { @class = "bi-sharp bi-solid bi-inbox yellow", data_toggle = "tooltip", title = "Detalhes" }) |
                                                    @Html.ActionLink("", "Criar", "Documento", "", new { @class = "bi-sharp bi-solid bi-plus yellow", data_toggle = "tooltip", title = "Criar" }) |
                                                </td>
                                            </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}