@model Domain.Entidade.Pet
@using EnumsNET
@using Domain.Entidade
@{
    ViewData["Title"] = "Editar Pet";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach (ETipoEspecie item in (ETipoEspecie[])Enum.GetValues(typeof(ETipoEspecie)))
    {
        listItems.Add(new SelectListItem
        {
            Text = item.GetDescription(),
            Value = item.ToString()
        });
    }
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-center mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO PET</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Nome" class="control-label"></label>
                                        <input asp-for="Nome" name="Nome" class="form-control" value="@Model.Nome" />
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DataNascimento" class="control-label"></label>
                                        @Html.EditorFor(model => model.DataNascimento, "DataNascimento", "DataNascimento")
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Especie" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Especie, listItems, new { @class = "form-control", data_toggle = "tooltip", title = "Especies", name = "Especie" })
                                        <span asp-validation-for="Especie" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="url_documento" class="col-sm-12 col-form-label">Foto do Pet:</label>
                                        <div class="card card-image">
                                            <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                                                <div>
                                                    @if (Model.Anexo != null && Model.TipoAnexo != null)
                                                    {
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Anexo)" class="img-fluid w-100 image-rotate" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="col-sm-12">
                                            <input type="file" asp-for="url_documento" name="ImagemUrlPet" class="form-control">
                                            <span asp-validation-for="url_documento" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-sm-12">
                                        <a asp-controller="Pet" asp-action="ExcluirImagem" asp-route-id="@Model.Id" class="btn btn-sm btn-danger px-5">Excluir Foto</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group d-flex justify-content-between">
                                        <input type="submit" value="Salvar" class="btn btn-primary" />|
                                        <button asp-action="Listar" asp-route-id="@Model.Tutor.UsuarioId" class="btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var DateTime = document.getElementById("DataNascimento");
        DateTime.classList.add("form-control");
    </script>
}