@model Domain.Entidade.Pet
@using EnumsNET
@using Domain.Entidade
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> listItems = new List<SelectListItem>();
    foreach(ETipoEspecie item in (ETipoEspecie[]) Enum.GetValues(typeof(ETipoEspecie))) {
        listItems.Add(new SelectListItem
        {
            Text = item.GetDescription(),
            Value = item.ToString()
        });
    }
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-center mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">Editar Pet</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO PET</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Nome" class="control-label"></label>
                                        <input asp-for="Nome" name="Nome" class="form-control" value="@Model.Nome" />
                                        <span asp-validation-for="Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="DataNascimento" class="control-label"></label>
                                        <input type="datetime" asp-for="DataNascimento" name="DataNascimento" class="form-control datepicker" value="@Model.DataNascimento" />
                                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Especie" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Especie, listItems, new { @class = "form-control", data_toggle = "tooltip", title = "Especies", name = "Especie" })
                                        <span asp-validation-for="Especie" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="ImagemUrlPet" class="col-sm-12 col-form-label">Foto do Pet:</label>
                                        <img src="~/assets/img/Image_not_available.png" width="320px" height="320px" />

                                        <br />
                                        <div class="col-sm-12">
                                            <input type="file" asp-for="ImagemUrlPet" name="ImagemUrlPet" class="form-control">
                                            <span asp-validation-for="ImagemUrlPet" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-sm-12">
                                        <a asp-controller="Pet" asp-action="ExcluirImagem" asp-route-id="@Model.Id" class="btn btn-sm btn-danger px-5">Excluir Foto</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />|
                                        <a asp-action="Listar" asp-route-id="@Model.Tutor.UsuarioId">Back to List</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            language: "pt-BR"
        });
    </script>
}