@model Domain.Entidade.View.ViewModel
@using EnumsNET;
@using Domain.Entidade;

@{
    ViewData["Title"] = "Criar Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UsuarioPerfil = SessionExtensionsHelp.GetObject<ETipoUsuario>(this.Context.Session, "UsuarioPerfil");

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });
    foreach (Pet item in Model.ListaPets)
    {
        listItems.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = item.Id.ToString()
        });

    }
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-6 col-sm-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">@ViewData["Title"]</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Criar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-md-6 col-sm-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group d-none">
                                        <label asp-for="Pet.Tutor.UsuarioId" class="form-label"></label>
                                        <input asp-for="Pet.Tutor.UsuarioId" name="UsuarioId" class="form-control" value="@Model.Usuario.Id">
                                        <span asp-validation-for="Pet.Tutor.UsuarioId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ListaPets" class="form-label"></label>
                                        @Html.DropDownListFor(model => model.ListaPets, listItems, new { @class = "form-control", data_toggle = "tooltip", title = "Pets", name = "ListaPets" })
                                        <span asp-validation-for="ListaPets" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ListaMedicos.First().Nome" class="form-label">Médico</label>
                                        <input asp-for="ListaMedicos.First().Nome" name="Nome" class="form-control" value="@Model.ListaMedicos.First().Nome" readonly>
                                        <span asp-validation-for="ListaMedicos.First().Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group d-none">
                                        <label asp-for="Agendamento.MedicoResponsavel" class="form-label"></label>
                                        <input asp-for="Agendamento.MedicoResponsavel" name="MedicoResponsavel" class="form-control" value="@Model.ListaMedicos.First().Id">
                                        <span asp-validation-for="Agendamento.MedicoResponsavel" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Agendamento.Data" class="form-label"></label>
                                        <input asp-for="Agendamento.Data" name="Data" class="form-control">
                                        <span asp-validation-for="Agendamento.Data" class="text-danger"></span>
                                    </div>
                                    @if (UsuarioPerfil == ETipoUsuario.Medico)
                                    {
                                        <div class="form-group">
                                            <label asp-for="Agendamento.Comentario" class="control-label"></label>
                                            <input asp-for="Agendamento.Comentario" name="Comentario" class="form-control" />
                                            <span asp-validation-for="Agendamento.Comentario" class="text-danger"></span>
                                        </div>
                                    }
                                    <div class="form-group d-flex justify-content-between">
                                        <input type="submit" value="Create" class="btn btn-primary" /> |
                                        <a asp-controller="Perfil" asp-action="Medicos" class="btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--fim row-->

</main>
<!--fim main-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
}
