@model Domain.Entidade.View.ViewModel
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Deletar Agendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserSign = SessionExtensionsHelp.GetObject<IdentityUser>(this.Context.Session, "UserSign");
    var pessoaId = UserSign.Id;
}

<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-between mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO AGENDAMENTO</h6>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4 d-none">
                                    @Html.DisplayNameFor(model => model.Agendamento.Id)
                                </dt>
                                <dd class="col-sm-8 d-none">
                                    @Html.DisplayFor(model => model.Agendamento.Id)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Agendamento.Pet)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Agendamento.MedicoResponsavel)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ListaMedicos.First(x => x.Id == Model.Agendamento.MedicoResponsavel.UsuarioId).Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Agendamento.Data)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Agendamento.Data)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Agendamento.Status)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Agendamento.Status)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Agendamento.Comentario)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Agendamento.Comentario)
                                </dd>
                            </dl>
                            <form asp-action="Deletar" method="post">
                                <label asp-for="Agendamento.Id" class="control-label d-none"></label>
                                <input asp-for="Agendamento.Id" name="Id" value="@Model.Agendamento.Id" class="form-control d-none" readonly />
                                <span asp-validation-for="Agendamento.Id" class="text-danger d-none"></span>
                                <div class="form-group d-flex justify-content-between">
                                    <input type="submit" value="Deletar" class="btn btn-danger" /> |
                                    <a asp-action="Listar" asp-route-id="@pessoaId" class="btn btn-primary"><i class="bi-sharp bi-solid bi-arrow-bar-left"></i></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

