@model Domain.Entidade.View.ViewModel

@{
    ViewData["Title"] = "Detalhes Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-between mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO DOCUMENTO</h6>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.Nome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.Descricao)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.Descricao)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.Quantidade)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.Quantidade)
                                </dd>
                                @if (Model.Documento.Prontuario != null && Model.Documento.Prontuario.ProntuarioId != new Guid("{00000000-0000-0000-0000-000000000000}"))
                                {
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Documento.Prontuario)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Prontuario.Descricao)
                                    </dd>
                                }
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.Pet)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Pet.Nome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.TipoDocumento)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.TipoDocumento)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.Anexo)
                                </dt>
                                <dd class="col-sm-12">
                                    <div class="card card-image">
                                        <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">
                                            @if (Model.Documento.Anexo != null && Model.Documento.TipoAnexo != null)
                                            {
                                                if (Model.Documento.TipoAnexo.Contains("image") == true)
                                                {
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Documento.Anexo)" class="img-fluid w-100 image-rotate" />
                                                }
                                                else
                                                {
                                                    <object>
                                                        <embed id="objID" class="img-fluid" style=" width:100em; height:50em;" type="text/html" src="data:@Model.Documento.TipoAnexo;base64,@System.Convert.ToBase64String(Model.Documento.Anexo)" />
                                                    </object>
                                                }

                                            }
                                            else
                                            {
                                                <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                            }
                                        </div>
                                    </div>
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.DataInicio)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.DataInicio)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Documento.DataFim)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Documento.DataFim)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

            //var pWidth = document.querySelector(".card.card-image").offsetHeight
            //element.setAttribute("class", "democlass");


    </script>
}
