@model Domain.Entidade.View.ViewModel
@using EnumsNET;
@using Domain.Entidade;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> listItems = new List<SelectListItem>();

    listItems.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });

    foreach (ETipoDocumento item in (ETipoDocumento[])Enum.GetValues(typeof(ETipoEspecie)))
    {
        int n;
        var status = item.GetDescription();

        var result = Int32.TryParse(status, out n);
        if (!result)
        {
            listItems.Add(new SelectListItem
            {
                Text = item.GetDescription(),
                Value = item.ToString()
            });
        }
    }

    List<SelectListItem> listItemsPets = new List<SelectListItem>();
    foreach (Pet item in Model.ListaPets)
    {
        listItemsPets.Add(new SelectListItem
        {
            Text = item.Nome,
            Value = item.Id.ToString()
        });
    }

    List<SelectListItem> listItemsProntuarios = new List<SelectListItem>();

    listItemsProntuarios.Add(new SelectListItem
    {
        Text = "-- Selecione --",
        Value = new Guid("{00000000-0000-0000-0000-000000000000}").ToString()
    });

    foreach (Prontuario item in Model.Prontuarios)
    {
        listItemsProntuarios.Add(new SelectListItem
        {
            Text = item.Descricao,
            Value = item.Id.ToString()
        });
    }
}


<main class="page-content">

    <div class="profile-cover bg-dark"></div>

    <div class="row">
        <div class="col-12 col-lg-8 d-flex justify-content-center mx-auto">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <h5 class="mb-0">@ViewData["Title"]</h5>
                    <hr>
                    <div class="card shadow-none border">
                        <div class="card-header">
                            <h6 class="mb-0">INFORMAÇÃO DO DOCUMENTO</h6>
                        </div>
                        <div class="card-body">
                            <form asp-action="Editar" method="post" enctype="multipart/form-data" class="row g-3">
                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Nome" class="control-label"></label>
                                        <input asp-for="Documento.Nome" name="Nome" value="@Model.Documento.Nome" class="form-control" />
                                        <span asp-validation-for="Documento.Nome" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Descricao" class="control-label"></label>
                                        <input asp-for="Documento.Descricao" name="Descricao" value="@Model.Documento.Descricao" class="form-control" />
                                        <span asp-validation-for="Documento.Descricao" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.Quantidade" class="control-label"></label>
                                        <input type="number" asp-for="Documento.Quantidade" name="Quantidade" value="@Model.Documento.Quantidade" class="form-control" />
                                        <span asp-validation-for="Documento.Quantidade" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.TipoDocumento" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Documento.TipoDocumento, listItems, new { @class = "form-control", data_toggle = "tooltip", title = "Tipo Documento", name = "TipoDocumento" })
                                        <span asp-validation-for="Documento.TipoDocumento" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Prontuario" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Prontuario, listItemsProntuarios, new { @class = "form-control", data_toggle = "tooltip", title = "Prontuários", name = "Prontuario" })
                                        <span asp-validation-for="Prontuario" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Pet" class="control-label"></label>
                                        @Html.DropDownListFor(model => model.Pet, listItemsPets, new { @class = "form-control", data_toggle = "tooltip", title = "Pets", name = "Pet" })
                                        <span asp-validation-for="Pet" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.DataInicio" class="control-label"></label>
                                        @Html.EditorFor(model => model.Documento.DataInicio, "DataInicio", "DataInicio")
                                        <span asp-validation-for="Documento.DataInicio" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Documento.DataFim" class="control-label"></label>
                                        @Html.EditorFor(model => model.Documento.DataFim, "DataFim", "DataFim")
                                        <span asp-validation-for="Documento.DataFim" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Documento.url_documento" class="col-sm-12 col-form-label">Foto do Pet:</label>
                                        <div class="card card-image">
                                            <div class="text-white text-center d-flex align-items-center py-5 px-4 h-100" style="background-color:#e7e7e7 !important; padding-bottom:2.7em !important;">

                                                @if (Model.Documento.Anexo != null && Model.Documento.TipoAnexo != null)
                                                {
                                                    if (Model.Documento.TipoAnexo.Contains("image") == true)
                                                    {
                                                        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Documento.Anexo)" class="img-fluid w-100 image-rotate" />
                                                    }
                                                    else
                                                    {
                                                        <object>
                                                            <embed id="objID" class="img-fluid" style=" width:100em; height:50em;" type="text/html" src="data:@Model.Documento.TipoAnexo;base64,@System.Convert.ToBase64String(Model.Documento.Anexo)" />
                                                        </object>
                                                    }

                                                }
                                                else
                                                {
                                                    <img src="~/assets/img/Image_not_available.png" class="img-fluid w-100 image-rotate" />
                                                }

                                            </div>
                                        </div>


                                        <br />
                                        <div class="col-sm-12">
                                            <input type="file" asp-for="Documento.url_documento" name="url_documento" class="form-control">
                                            <span asp-validation-for="Documento.url_documento" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="col-sm-12">
                                        <a asp-controller="Documento" asp-action="ExcluirDocumento" asp-route-id="@Model.Documento.Id" class="btn btn-sm btn-danger px-5">Excluir Foto</a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        var DataInicio = document.getElementById("DataInicio");
        var DataFim = document.getElementById("DataFim");
        DataInicio.classList.add("form-control");
        DataFim.classList.add("form-control");
    </script>
}